.Button {
    padding: 5px 20px;
    display: block;
    margin: auto;
    background-color: #eb64aa;
    font-family: adobe-clean, sans-serif;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;

  }