.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #eb64aa;
}
.profile-pic {
  margin: auto;
  width: 100%;
  display: block;
}

