.WPFirstName {
    font-size: 20pt;
    font-weight: 900;
    color: white;
    display: inline;
    padding: 10px 0;
}

.WPLastName {
    font-size: 20pt;
    font-weight: 200;
    color: white;
    display: inline;
    padding: 10px 0;
}